h1,h2,h3,h4,h5 {
  margin-top: 0px;
}
.page-header{
  margin-top: 30px;
}

hr {
    margin-top: 8px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #1a2f2e !important;
}

.clearfix{
  margin-right:20px;
  padding-bottom:20px;

}

.btn{
  font-size: 12px;
  font-weight: bold;
}
.panel{
  margin-bottom: 0 !important;
}
.panel-body{
margin-bottom: 0 !important;
}
