/* Font Colors */

$base-font-size:15px;
$base-font-family:"Segoe UI","Segoe WP","Segoe Regular",sans-serif;
$base-font-color:#666666;

/*Base Background Color*/

 $primary-color:#2b5464;
 $secondary-color:#263238;
 $light-color:#e4eef2;
