/*.. Thumbnail CSS ..*/

.thumbnail{
  background-color: $light-color !important;
  margin-left: 50px;
  margin-right: 50px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px !important;

  h4{
    padding-left: 30px;
    font-weight: bold;
    color: #e8491d !important;
  }
  p{
    padding-left: 30px;
    font-weight: bold;
    color: $secondary-color !important;

  }
  #btn{
    float:right;

  }


}
