

<div class="col-sm-9">
            <div class="panel panel-primary">
                <div class ="panel-heading">
                    <div class="panel-title">Banquet Hall</div>    
                </div>
                <div class="panel panel-body" ng-controller="banquethallCtrl" >  


                     <div ng-repeat="bh in banquethall|filter:search|limitTo:bhCount">       
                          
                         <div class = "thumbnail">
                                    <h4 ng-model="title">{{bh.title }}</h4>
                                    <!--<p><strong>Designatiom:</strong>{{ hk.designation }}</p>
                                     <p><strong >Skill:</strong>{{ hk.skills }}</p>
                                     <p><strong>Salary:</strong>{{ hk.salary }}</p>
                                     <p><strong>Address:</strong>{{ hk.address   }}</p>-->
                                     <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#info" ng-click="getDetails(bh)" style="margin-bottom: 20px ">View Details</button>

                         </div>                           
                                                 
                     </div>     
                     <div class="row">
                       <th>
                         <button ng-click="showMore()" class="btn btn-warning" style="text-align: center;">Show More</button>
                       </th>
                     </div>   

                </div>                                 
             </div>                                    
                                         
                            
 </div>                             
                                                 
                        
                                                 
                                                 
                                                 
                                                 
                                                 
                                                 
                                                 
    