  <nav class="navbar navbar-default">
      <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded=" false">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="#">Search Engine</a>
            </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class=""><a ui-sref="home">Home</a></li>
                <li class=""><a ui-sref="realestate">Real Estate</a></li>
                <li class=""><a ui-sref="hospital">Hospitals</a></li>
                <li class=""><a ui-sref="restaurant">Rastaurant & Cafes</a></li>
                <li class=""><a ui-sref="jobs">Job</a></li>
                <li class=""><a ui-sref="tourism">Tourism</a></li>  

              </ul>
            
              <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="register">Register</a></li>
               
                <li><a ui-sref="login">Login</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  
</nav>

       