

<div class="col-sm-9">
            <div class="panel panel-primary">
                <div class ="panel-heading">
                    <div class="panel-title">Panshop</div>    
                </div>
                <div class="panel panel-body" ng-controller="panshopCtrl" >  


                     <div ng-repeat="pn in panshop|filter:search|limitTo:dbCount">       
                          
                         <div class = "thumbnail">
                                    <h4 ng-model="title">{{ pn.title }}</h4>
                                    <p><strong>Name:</strong>{{ pn.title }}</p>
                                     <p><strong >Description:</strong>{{ pn.description }}</p>
                                     
                                     <p><strong>Address:</strong>{{ pn.address   }}</p>
                                     <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#info" ng-click="getDetails(pn)" style="margin-bottom: 20px ">View Details</button>

                         </div>                           
                                                 
                     </div>     
                     <div class="row">
                       <th>
                         <button ng-click="showMore()" class="btn btn-warning" style="text-align: center;">Show More</button>
                       </th>
                     </div>   

                </div>                                 
             </div>                                    
                                         
                            
 </div>                             
                                                 
                        
                                                 
                                                 
                                                 
                                                 
                                                 
                                                 
                                                 
    