<div class="container">
  
    <form class="form-inline well well-sm clearfix">
            <div clas="row">
                <div class="col-sm-4">
             <h4 ><span class="label label-warning">AKOLA</span></h4>
              </div>
              <div class="col-sm-8">
              <input type="text" style="width: 80%" placeholder="Search..." class="form-control" ng-model="search">  
               </div>
            </div>
      </form>



        <div class="panel panel-primary">
            
             <div class ="panel-heading"><h3 class="panel-title">Real Estate</h3></div>
            
                 <div class="panel-body" >     
            
                     <div class="col-sm-4"  ng-repeat="re in realestate|filter:search">
            
                          <div class = "thumbnail">
            
                              <img ng-src="app/images/{{re.image}}.jpg" width="300px" height="200px"></div>
            
                                   <div class="caption">
            
                							      	   <h4>{{ re.Propertyname }}</h4>
                                    </div>
            
                                    <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#info" ng-click="getDetails(re)" style="margin-bottom: 20px ">View Details</button>
            				      </div>
    			           </div>
    			     <div>
    	  </div> 
      

    <!-- Modal -->
         <div class="modal fade" id="info" role="dialog">
            <div class="modal-dialog ">
                 <div class="modal-content">
                      <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                                   <h4 class="modal-title">{{detail.Propertyname}}</h4>
                     </div>
                     <div class="modal-body">
                          <img ng-src="app/images/{{detail.image}}.jpg" class="img-responsive" width="570px" height="300px" alt="">
                           <div class="caption">
                                <h3></h3>
                                <p><strong>Type:</strong>{{ detail.Type}}</p> 
                                <p><strong>Bulider Name:</strong>{{detail.Builder}}</p>
                                <p><strong>Price:</strong>{{ detail.Price}}</p>
                                <p><strong>Address:</strong>{{ detail.Address}}</p>
                                <p><strong>Description:</strong>{{ detail.Description}}</p>
                         
                           </div>
                     </div>
                     <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
               </div>
         </div>
            </div>
        
        <!--End of Modal-->

</div>    			 			 