<div class="container" >
  
      <form class="form-inline well well-sm clearfix">
          <div clas="row">
              <div class="col-sm-4">
           <h4 ><span class="label label-warning">AKOLA</span></h4>
            </div>
            <div class="col-sm-8">
            <input type="text" style="width: 80%" placeholder="Search..." class="form-control" ng-model="search">  
             </div>
          </div>
      </form>              
      <div class="row">
        <!-- Side Menu Bar Start -->
        <div class="col-sm-3">
            <div class="panel panel-primary">
               <div class="panel-heading">
                  <div class="panel-title"><h4>Categories</h4></div>
               </div>
               <div class="panel-body">
                  <div class="nav nav-pills nav-stacked">  
                    
                    
                    <li><a ui-sref=".restaurant&cafes" ui-sref-active="active"><h4>Restaurant & Cafe's</h4></a></li>
                    <li><a ui-sref=".panshop"><h4>Pan Shop</h4></a></li>
                    <li><a ui-sref=".cake" ><h4>Cakes & Icecream </h4></a></li>
                    <li><a ui-sref=".dryfruits" ><h4>Dry Fruits</h4></a></li>
                    <li><a ui-sref=".juicecenter"><h4>Juice Center</h4></a></li>
                    <li><a ui-sref=".fastfood"><h4>Fast Food</h4></a></li>
                    <li><a ui-sref=".winesshop"><h4>Wines Shop</h4></a></li>
                    <li><a ui-sref=".pizzacorners"><h4>Pizza Corner's</h4></a></li>
                    <li><a ui-sref=".cofeeshop"><h4>Cofee's Shop</h4></a></li>
                    <li><a ui-sref=".chinesefood"><h4>Chinese Food</h4></a></li>
                    <li><a ui-sref=".sweetshop"><h4>Sweet Shop</h4></a></li>
                    <li><a ui-sref=".familyrestaurant"><h4>Family Restaurant</h4></a></li>
                    
                    <li><a ui-sref=".restaurant_bar"><h4>Restaurant & Bar</h4></a></li>
                    <li><a ui-sref=".banquethall"><h4>Banquet Hall</h4></a></li>
                    <li><a ui-sref=".birthdayhall"><h4>Birthday Hall</h4></a></li>
                    <li><a ui-sref=".lawns&gardens"><h4>Lawn's & Garden's</h4></a></li>
                                 
                                               
                  </div>
              </div>
          </div>
      </div>
    <div ui-view>
     <div class="col-sm-9"> 
            <div class="panel panel-primary">
                <div class ="panel-heading">
                    <div class="panel-title">Restaurant & cafes</div>    
                </div>
                <div class="panel panel-body" >  

                      <div class="col-sm-4"  ng-repeat="res in restaurant| filter:search">         
                          
                          <div class = "thumbnail">
                             
                              <img ng-src="app/images/jobs/{{jb.image}}.jpg" width="100%" height="">

                              </div>
                              
                                   <div class="caption">
                         
                                     <!--<h4 ng-model="title">{{ res.title }}</h4>
                                    <p><strong>Designation:</strong>{{ res.designation }}</p>
                                     <p><strong >Description:</strong>{{ res.skills }}</p>
                                     <p><strong>Address:</strong>{{ res.address }}</p> 
                                  
                                   -->
                               <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#info" ng-click="getDetails(jb)" style="margin-bottom: 20px ">View Details</button>                       
                          </div>
                               

                          </div>
                    
                    
                      </div>
              </div>
    
   </div>

     </div>
      <!-- Modal -->
         <div class="modal fade" id="info" role="dialog">
          <div class="modal-dialog ">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{detail.title}}</h4>
              </div>
              <div class="modal-body">
                  <img ng-src="app/images/jobs/{{detail.image}}.jpg" class="img-responsive" width="570px" height="300px" alt="">
                         <div class="caption">
                             <h3></h3>
                             <p><strong>Designation:</strong>{{ detail.designatio}}</p> 
                             <p><strong>Description:</strong>{{detail.description }}</p>
                             <p><strong>Address:</strong>{{ detail.address}}</p>
                          
                          </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> 

        <!--End of Modal-->
</div>



