
    <div class="row">
  <div class="col-sm-4">
    <div class="col-sm-12">
                <div class = "thumbnail">
                     <img ng-src="app/images/crib-2.jpg" >
                  </div>
              </div> 
              <div class="col-sm-12">
                <div class="col-sm-8 ">                                            
                    <h4 ng-model="address">Anand Restaurant</h4>
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-info btn-xs" >View Details</button>
                  </div>
              </div>
  </div>
  <div class="col-sm-4">
    <div class="col-sm-12">
                <div class = "thumbnail">
                     <img ng-src="app/images/crib-2.jpg">
                  </div>
              </div> 
              <div class="col-sm-12">
                <div class="col-sm-8 ">                                            
                    <h4 ng-model="address">Anand Restaurant</h4>
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-info btn-xs">View Details</button>
                  </div>
              </div>
  </div>
  <div class="col-sm-4">
    <div class="col-sm-12">
                <div class = "thumbnail">
                     <img ng-src="app/images/crib-2.jpg">
                  </div>
              </div> 
              <div class="col-sm-12">
                <div class="col-sm-8 ">                                            
                    <h4 ng-model="address">Anand Restaurant</h4>
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-info btn-xs">View Details</button>
                  </div>
              </div>
  </div>
</div>
   