<div class="container">
       <form class="form-inline well well-sm clearfix">
            <div clas="row">
                <div class="col-sm-4">
                   <h4 ><span class="label label-warning">AKOLA</span></h4>
                </div>
                <div class="col-sm-8">
                    <input type="text" style="width: 80%" placeholder="Search..." class="form-control" ng-model="  search">  
               </div>
            </div>
       </form>

    <div class="row">
            <!-- Main Panel-->
            <div class="col-sm-12"> 
                <div class="panel panel-primary">
                    <div class ="panel-heading">
                        <h3 class="panel-title">Tourism </h3>
                     </div>
                     <div class="panel-body" >  
                         
                          <div class="col-sm-4"  ng-repeat="tm in tourism|filter:search">
                         
                               <div class = "thumbnail">
                         
                                    <img ng-src="app/images/tourist{{tm.image}}.jpg" width="300px" height="200px"></div>
                         
                                        <div class="caption">
      							     
                          	                <h4>{{ tm.name }}</h4>
      							      	               <!-- <p><strong>Type:</strong>{{ ht.type }}</p>
      							                        <p><strong>Services:</strong>{{ ht.services }}</p>
      							                        <p><strong>Address:</strong>{{ ht.address }}</p>-->
                         
                                        </div>
                         
                                      <button type="button" class="btn btn-info btn-xs " data-toggle="modal" data-target="#info" ng-click="getDetails(ht)" style="margin-bottom: 20px " >View Details</button>
    				                   </div>
    			                   </div>
    			            <div>	
                  </div>
    	      </div>  <!-- End Of Panel-->

     </div> 
     <div class="modal fade" id="info" role="dialog">
        
          <div class="modal-dialog ">
        
              <div class="modal-content">
                  <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 class="modal-title">{{detail.name}}</h4>
                  </div>
                   <div class="modal-body">
                        <img ng-src="app/images/{{detail.image}}.jpg" class="img-responsive" width="570px" height="300px" alt="">
                        
                          <div class="caption">
                             <h3></h3>
                             <p><strong>Type:</strong>{{ detail.type}}</p> 
                             <p><strong>Service:</strong>{{detail.services }}</p>
                             <p><strong>Address:</strong>{{ detail.address}}</p>
                          
                          </div>
                   </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   </div>
               </div>
          </div>
      </div>
        
        <!--End of Modal-->



<!--End of Container-->
</div>    